<% content_for :head do %> 
  <meta property="og:site_name" content="LaborSight"/> 
  <meta property="og:title"  content="US Department of Labor Violator: <%= @company.trade_name %>" /> 
  <meta property="og:url" content="http://laborsight.com/companies/<%= @company.id %>"/>
  <meta property="og:description" 
  content="<%= @company.trade_name %> has violated US Department of Labor Law. CLick through to LaborSight for more information." />
  <meta property="og:image"  content="http://laborsight.com/dol-logo.png" /> 
<% end %>

<div class="return">
  <h5><%= link_to "Map", controller: "maps", class: "return" %></h5>
</div>

<div class="profile">
  <div class="contact">

    <% if @company.address_id %>
    <h1 class='page-title title-case'><%= @company.trade_name %></h1>
    <p class='fade'><%= @company.address.street %>, <%= @company.address.city %>, <%= @company.address.state %>, <%= @company.address.zip %> </p>
    <% end %>

    <p class='fade'>Inspected:  <%= @company.findings_start_date.strftime("%m-%d-%Y") %> to <%= @company.findings_end_date.strftime("%m-%d-%Y") %> </p>

    <% if @company.industry_id %>
    <p class="fade">Industry: <%= Industry.find(@company.industry_id).naic_code_description %></p>
    <% end %>

  </div>

  <h1 class='grade'><span><%= @company.assign_letter_grade %></span></h1>

  <h1 class='stats-header'>Yelp Review</h1>
  <%= @company.yelp %>

  <h1 class="stats-header">Company Statistics</h1>
  <div id="pure-stats">
    <ul>
      <li><a href="#child-labor">Child Labor</a></li>
      <li><a href="#backwages">Backwages</a></li>
      <li><a href="#fmla">FMLA</a></li>
      <li><a href="#work-visas">Work Visas</a></li>
      <li><a href="#migrant">MSPA</a></li>
    </ul>

    <div id="child-labor">
      <p class="fade">The federal child labor provisions, authorized by the Fair Labor Standards Act (FLSA) of 1938, also known as the child labor laws, were enacted to ensure that when young people work, the work is safe and does not jeopardize their health, well-being or educational opportunities.</p>
        <% if @company.flsa_cl_violtn_count == 0 && @company.flsa_cl_minor_count == 0 && @company.flsa_cmp_assd_amt == 0 %>
        <h4 class="green good-standing"><span class="title-case"><%= @company.trade_name %></span> has no child labor violations.</h4>
        <% else %>
        <table>
          <tr>
            <td>Violations found under Fair Labor Standards Act for child labor</td>
            <td><%= @company.flsa_cl_violtn_count %></td>
          </tr>
          <tr>
            <td>Minors found employed in violation of Fair Labor Standards Act</td>
            <td><%= @company.flsa_cl_minor_count %></td>
          </tr>
          <tr>
            <td>Civil monetary penalties owed for child labor violations</td>
            <td>$<%= @company.flsa_cmp_assd_amt.round(2) %></td>
          </tr>
      </table>
      <% end %>
    </div>

    <div id="backwages">
      <p class="fade">
        A common remedy for wage violations is an order that the employer make up the difference between what the employee was paid and the amount he or she should have been paid. The amount of this sum is often referred to as "back pay."
      </p>
      <% if @company.flsa_15a3_bw_atp_amt == 0 && @company.bw_atp_amt == 0 && @company.flsa_mw_bw_atp_amt == 0 && @company.flsa_ot_bw_atp_amt == 0 %>
      <h4 class="green good-standing"><span class="title-case"><%= @company.trade_name %></span> has paid no back wages.</h4>
      <% else %>
      <table>
        <tr>
          <td>Backwages owed for overtime</td>
          <td>$<%= @company.flsa_ot_bw_atp_amt  %></td>
        </tr>
        <tr>
          <td>Backwages owed for minimum wage violations</td>
          <td>$<%= @company.flsa_mw_bw_atp_amt %></td>
        </tr>
        <tr>
          <td>Backwages owed for violating Fair Labor Standards Act 15(a)(3)</td>
          <td>$<%= @company.flsa_15a3_bw_atp_amt %></td>
        </tr>
        <tr>
          <td>Total backwages agreed to pay</td>
          <td>$<%= @company.bw_atp_amt %></td>
        </tr>
      </table>
      <% end %>
  </div>

  <div id="fmla">
    <p class="fade">
    The Family & Medical Leave Act entitles eligible employees of covered employers to take unpaid, job-protected leave for specified family and medical reasons with continuation of group health insurance coverage under the same terms and conditions as if the employee had not taken leave.
    </p>
    <% if @company.fmla_violtn_cnt == 0 && @company.fmla_bw_atp_amt == 0 && @company.fmla_ee_atp_cnt == 0 && @company.fmla_cmp_assd_amt == 0 %>
    <h4 class="green good-standing"><span class="title-case"><%= @company.trade_name %></span> has no Family & Medical Leave Act Violations.</h4>
    <% else %>
    <table>
      <tr>
        <td>Number of backwage violations under the Family & Medical Leave Act </td>
        <td><%= @company.fmla_violtn_cnt %></td>
      </tr>
      <tr>
        <td>Backwages agreed to pay under the Family & Medical Leave act</td>
        <td>$<%= @company.fmla_bw_atp_amt  %></td>
      </tr>
      <tr>
        <td>Exempt employees agreed to under the Family & Medical Leave act</td>
        <td><%= @company.fmla_ee_atp_cnt %></td>
      </tr>
      <tr>
        <td>Total monetary penalties due to Family & Medical Leave violations</td>
        <td>$<%= @company.fmla_cmp_assd_amt %></td>
      </tr>
    </table>
    <% end %>
  </div>

    <div id="work-visas">
      <p class="fade">The H-1B visa is a non-immigrant visa that allows business professionals to work in the United States for a specific amount of time. The purpose of the H-1B visa is to give U.S. employers the opportunity to hire foreign professionals if a U.S. citizen or resident is not available.
      </p>
      <% if @company.h1b_violtn_cnt == 0 && @company.h1b_bw_atp_amt == 0 && @company.h1b_ee_atp_cnt == 0 && @company.h1b_cmp_assd_amt == 0 %>
        <h4 class="green good-standing"><span class="title-case"><%= @company.trade_name %></span> has no violations related to non-immigrant work visas.</h4>
      <% else %>
      <table>
        <tr>
          <td>Number of violations found under H1B (Work Visas for Specialty Occupations) </td>
          <td><%= @company.h1b_violtn_cnt %></td>
        </tr>
        <tr>
          <td>Backwages agreed to pay under H2A (Work Visas for Seasonal Agricultural Workers)</td>
          <td>$<%= @company.h1b_bw_atp_amt  %></td>
        </tr>
        <tr>
          <td>Exempt employees agreed to under H2A (Work Visas for Seasonal Agricultural Workers)</td>
          <td><%= @company.h1b_ee_atp_cnt %></td>
        </tr>
        <tr>
          <td>Total monetary penalties due to H2A violations</td>
          <td>$<%= @company.h1b_cmp_assd_amt %></td>
        </tr>
      </table>
      <% end %>
    </div>

    <div id="migrant">
      <p class="fade">The Migrant & Seasonal Agricultural Worker Protection Act (MSPA) protects migrant and seasonal agricultural workers by establishing employment standards related to wages, housing, transportation, disclosures and recordkeeping.</p>

      <% if @company.mspa_violtn_cnt == 0 && @company.mspa_bw_atp_amt == 0 && @company.mspa_ee_atp_cnt == 0 && @company.mspa_cmp_assd_amt == 0 %>
        <h4 class="green good-standing"><span class="title-case"><%= @company.trade_name %></span> has no Migrant & Seasonal Agricultural Worker Protection Act Violations.</h4>
      <% else %>
      <table>
        <tr>
          <td>Number of violations found under the Migrant & Seasonal Agrigcultural Worker Protection Act</td>
          <td><%= @company.mspa_violtn_cnt %></td>
        </tr>
        <tr>
          <td>Backwages agreed to pay under the Migrant & Seasonal Agrigcultural Worker Protection Act</td>
          <td>$<%= @company.mspa_bw_atp_amt  %></td>
        </tr>
        <tr>
          <td>Exempt employees agreed to under the Migrant & Seasonal Agrigcultural Worker Protection Act</td>
          <td><%= @company.mspa_ee_atp_cnt %></td>
        </tr>
        <tr>
          <td>Total monetary penalties due to the Migrant & Seasonal Agrigcultural Worker Protection Act violations</td>
          <td>$<%= @company.mspa_cmp_assd_amt %></td>
        </tr>
      </table>
      <% end %>
    </div>

  </div>

  <h1 class="stats-header">Side-By-Side</h1>
  <div class="legend">
    <div class="red"></div>
    <h6><%= @company.trade_name %></h6>
  </div>
  <div class="legend">
    <div class="blue"></div>
    <h6>Comparison</h6>
  </div>

  <div id="slider" class="slider data" data-id='<%= @company.id %>'>

    <% if @company.industry_id %>
    <ul id='industry' class="chart">
      <script type="text/javascript">
        var id = <%= @company.id %>;
        getCompanyInfo(id);
      </script>
      <a href="#"> <canvas id="local-chart" width="800" height="600"></a>
    </ul>
    <% else %>
    <h6 class="center notice">No Industry data was provided for this company.</h6>
    <% end %>

    <ul id='state' class="chart">
      <a href="#"><canvas id="local-chart" width="800" height="600"></a></a>
    </ul>

    <ul id='national' class="chart">
      <a href="#"><canvas id="local-chart" width="800" height="600"></a></canvas></a>
    </ul>

    <nav>
      <a href="#" id='industry' class='selected'><h6>By Industry</h6></a>
      <a href="#" id='state' ><h6>Your Neighborhood</h6></a>
      <a href="#" id='national'><h6>National</h6></a>
    </nav>
  </div>
<!-- 
  <div class="stats foursquare">
    <h3 class='service-title'>Foursquare</h3>
    <div class='service-stats'>
      <h6>Check-Ins:</h6>
      <h6>Users:</h6>
    </div>
  </div>

  <div class="stats yelp">
    <h3 class='service-title'>Yelp</h3>
      <div class='service-stats'>
        <h6>Check-Ins:</h6>
        <h6>Users:</h6>
      </div>
  </div>

  <div class="stats foursquare">
    <h3 class='service-title'>Facebook</h3>
      <div class='service-stats'>
        <h6>Check-Ins:</h6>
        <h6>Users:</h6>
      </div>
  </div>
 -->
  <div class="action jumbo">
    <h1>Take Action</h1>

    <div class= 'social-action'>

      <a data-share="twitter" data-title="laborsight" data-link='http://www.laborsight.com/company/<%= @company.id %>' data-hashtags="laborsight" href='https://www.twitter.com/share?url=http://laborsight.com/companies/<%= @company.id %>' target="_blank">
        <%= image_tag("icons/twitter-circ.png", :class => "social-icon") %>
      </a>

      <a data-share="facebook" data-title="LaborSight" href='https://www.facebook.com/sharer/sharer.php?u=laborsight.com/companies/<%= @company.id %>' target="_blank">
        <%= image_tag("icons/facebook-circ.png", :class => "social-icon") %>
      </a>

    </div>
  </div>
</div>

<footer>
  <p>footer</p>
</footer>


