
<div class="profile">
  <h1><%= @company.trade_name %></h1>

  <div class="contact">
    <h4>Contact:</h4>
    <p><%= @company.address.street %>, <%= @company.address.city %>, <%= @company.address.state %>, <%= @company.address.zip %> </p>     
  </div>

    Inspected on: <p><%= @company.findings_start_date %> to <%= @company.findings_end_date %> </p>

  <div class="data">
    <div class="chart">
      
    </div>
    <p><%= @company.case_id %> </p>
    <p><%= @company.legal_name %> </p>
    <p>Violation Count: <%= @company.flsa_cl_violtn_count %> </p>
    <p>Minor Count: <%= @company.flsa_cl_minor_count %> </p>
    <p><%= @company.flsa_cl_cmp_assd_amt %> </p>
    <p><%= @company.bw_atp_amt %> </p>
    <p><%= @company.flsa_cmp_assd_amt %> </p>
    <p>Repeat Offender: <%= @company.flsa_repeat_violator %> </p>
    <p><%= @company.flsa_violation_count %> </p>
    <p><%= @company.flsa_ee_atp_count %> </p>
    <p><%= @company.flsa_mw_bw_atp_amt %> </p>
    <p><%= @company.flsa_ot_bw_atp_amt %> </p>
    <p><%= @company.flsa_15a3_bw_atp_amt %> </p>
  </div>


<hr>

  <div class="stats yelp">
    <h3>Yelp</h3>
    <h6>Check-Ins:</h6>
    <h6>Users:</h6>  
  </div>

  <div class="stats foursquare">
    <h3>Foursquare</h3>
    <h6>Check-Ins:</h6>
    <h6>Users:</h6>
  </div>

  <div class="stats foursquare">
    <h3> Service</h3>
    <h6>Check-Ins:</h6>
    <h6>Users:</h6>
  </div>
  
  <div class="action">
    <h3>Take Action</h3>
  </div>
</div>

<footer>
  about us
</footer>
