<!DOCTYPE html>
<html>
  <head>
    <title>Department of Labor Challenge</title>
    <%= stylesheet_link_tag    "normalize", :media => "all" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places">
  </script>

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
    function createChart(){
      var ctx = document.getElementById("local-chart").getContext("2d");

      var data = {
          labels : ["January","February","March","April","May","June","July"],
          datasets : [
                      {
                          fillColor : "rgba(221, 86, 66, 0.5)",
                          strokeColor : "rgba(221, 86, 66, 1)",
                          data : [65,59,90,81,56,55,40]
                      },
                      {
                          fillColor : "rgba(93, 124, 168, 0.5)",
                          strokeColor : "rgba(93, 124, 168, 1)",
                          data : [28,48,40,19,96,27,100]
                      }
                     ]
                };

      options = {
          barDatasetSpacing : 15,
          barValueSpacing: 10
      };

        new Chart(ctx).Bar(data, options);
     }
     </script>

    <script>
    function accordion() {
      $( "#pure-stats" ).accordion();
    };
  </script>

  </head>
  <body onload="createChart(); accordion();">
    <%= yield %>
  </body>
</html>

